<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestNGSeleniumSuite">
  <test name="TestNGSelenium">
    <classes>
      <class name="com.techM.TestNGSeleniumSimpleSearchExample"/>
    </classes>
  </test> <!-- TestNGSelenium -->
</suite> <!-- TestNGSeleniumSuite -->
